.CellsGrid {
  height: 300px;
  overflow: scroll;
}

.CellsGrid-Table {
  width: 1200px;
  height: 500px;
  text-align: center;
  vertical-align: center;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: separate;
  background: white;
}

.CellsGrid-Coord {
  border: 0.5px solid #bbb;
  position: sticky;
  height: 40px;
  background: #f6f6f6;
  text-align: center;
  vertical-align: middle;
  user-select: none;
}
