.CellItem {
  background-color: white;
  border: 0.5px solid #bbb;
  padding: 1px;
}

.CellItem-Input {
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: white;
  font-size: 1rem;
}

.CellItem-Input:focus {
  box-shadow: none;
}
