.Dialog {
  position: absolute;
  background-color: var(--background-body);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 300px;
  overflow: hidden;
  border-radius: 6px;
  border-width: 1px;
  border-color: var(--border);
  border-style: solid;
}

.Dialog-Header {
  background-color: var(--background-alt);
  width: 100%;
  padding: 8px;
  font-size: 1.2rem;
  font-weight: semibold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: move;
}

.Dialog-CloseButton {
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
}
